/* line 1, public/css/less/components/body.less */
body,
html {
  background: #333;
  font-family: Consolas, Monaco, monospace;
  height: 100%;
  margin: 0;
  padding: 0;
}
/* line 1, public/css/less/components/map-canvas.less */
#canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* line 1, public/css/less/components/tools.less */
#tools {
  background: rgba(20, 20, 20, 0.75);
  color: white;
  font-size: 12px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 12px 0;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateZ(0);
  width: 20vw;
}
/* line 15, public/css/less/components/tools.less */
#tools .filter {
  display: block;
  margin: 0 auto;
  width: 90%;
}
/* line 20, public/css/less/components/tools.less */
#tools .filter + .filter {
  margin-top: 12px;
}
/* line 25, public/css/less/components/tools.less */
#tools li a {
  color: #09f;
  cursor: pointer;
}
