#tools {
    background: rgba(20,20,20,0.75);
    color: white;
    font-size: 12px;
    height: 100vh;
    min-width: 240px;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 12px 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateZ(0);
    width: 20vw;

    &::-webkit-scrollbar {
        background: transparent;
        height: 6px;
        width: 6px;
    }

    &::-webkit-scrollbar-track:vertical {
        background: fadeout(white, 80%);
    }

    &::-webkit-scrollbar-thumb:vertical {
        background: fadeout(white, 50%);
    }

    .title {
        margin: 0 0 12px 0;
        text-align: center;
    }

    .filters {
        border-bottom: solid 1px fadeout(white, 80%);
        margin-bottom: 12px;
        padding-bottom: 12px;
    }

    .filter {
        display: block;
        margin: 0 auto;
        width: 90%;

        & + .filter {
            margin-top: 12px;
        }

        label {
            display: inline-block;
            margin-right: -0.35em;
            width: 25%;
        }

        input {
            -webkit-appearance: none;
            background: fadeout(white, 20%);
            border: solid 1px fadeout(black, 50%);
            display: inline-block;
            font-family: Consolas, Monaco, monospace;
            margin-right: -0.25em;
            padding: 0.5em 1em;
            width: 75%;
        }
    }

    h5 {
        font-size: 13px;
        margin: 0;
        margin-bottom: 12px;
    }

    li a {
        color: #09f;
        cursor: pointer;
    }

    .search-results, .active-procedures {
        font-size: 14px;

        .title {
            margin: 0;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 12px 0;

            li {
                border-top: solid 1px fadeout(white, 90%);
                line-height: 32px;
                padding: 0 12px;
                position: relative;
                .transition(background 0.1s ease-in-out);
                .user-select(none);

                &:last-child {
                    border-bottom: solid 1px fadeout(white, 90%);
                }

                &.active {
                    background: fadeout(white, 95%);
                }

                .fa {
                    font-size: 16px;
                    line-height: 32px;
                }

                .chart-link {
                    position: absolute;
                    right: 12px;
                }
            }
        }

        .toggle-link {
            .fa {
                .transition(~"color 0.1s ease-in-out, transform 0.1s ease-in-out");
            }


            &.active .fa {
                color: #c33;
                .transform(rotate(45deg));
            }
        }
    }
}
