#tools {
    background: rgba(20,20,20,0.75);
    color: white;
    font-size: 12px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 12px 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateZ(0);
    width: 20vw;

    .filters {
        border-bottom: solid 1px fadeout(white, 50%);
        margin-bottom: 12px;
        padding-bottom: 12px;
    }

    .filter {
        display: block;
        margin: 0 auto;
        width: 90%;

        & + .filter {
            margin-top: 12px;
        }
    }

    h5 {
        font-size: 13px;
        margin: 0;
        margin-bottom: 12px;
    }

    li a {
        color: #09f;
        cursor: pointer;
    }

    .search-results, .active-procedures {
        padding: 12px;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    }
}
